body{
  font-family: sans-serif;
  justify-content: center;
  color: white;
}

input{
  outline: none;
  border: none;
  background: transparent;
  border-bottom: 1px solid white;
  padding: 3px;
  color: white;
}

.form, .title{
  display: none;
}


.show{
  display: block;
}

.background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}